<div style=" display: flex; gap: 10px;">
  <label for="numberElements">Количество элементов:</label>
  <input type="number" id="numberElements" max="100" [(ngModel)]="numberElements">
  <button (click)="setBubbleSort()">Сортировка пузырьком</button>
  <button (click)="setSelectSort()">Сортировка по выбору</button>
  <button (click)="reset()">Сбросить</button>
</div>
<div *ngIf="Selected">
  <div style="display: flex; flex-direction: row;">
    <h3>Алгоритм сортировки:</h3>
    <p style="margin-top: 22px;">{{ algoritm }}</p>
  </div>
</div>

<div *ngIf="data.length > 0">
  <h3>Исходный массив:</h3>
  <p>{{ data | json }}</p>
  <h3>Действия алгоритма:</h3>
  <ul>
    <li *ngFor="let step of Steps">{{ step }}</li>
  </ul>
</div>

<div *ngIf="sortedData.length > 0">
  <h3>Отсортированный массив:</h3>
  <p>{{ sortedData | json }}</p>
</div>
